.phone-container{
    background-color: #D9D9D9;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.phone-display-container{
    background-color: #444444;
    padding: 20px 30px;
    border: none;
    width: 75%;
    height: 30px;
}

.phone-display-text{
    margin: 0;
    text-align: center;
    font-size: 2rem;
    color: #F8F8F8;
}

.phone-title{
    color: #000;
    font-size: 2rem;
}

.num-container{
    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}