/*
COLOR PALETTE

PAGER BACKGROUND: #283033
PAGER DISPLAY: #9EC4B3
PAGER DISPLAY TEXT COLOR: #000000

PHONE BACKGROUND: #D9D9D9
PHONE DISPLAY: #9EC4B3
PHONE DISPLAY TEXT COLOR: #F8F8F8
PHONE KEY: #F8F8F8

RESET AND SEND BUTTON BORDER COLOR: #0B0B0B

RESET BUTTON BACKGROUND: #BE482A
RESET BUTTON TEXT COLOR: #F8F8F8

SEND BUTTON BACKGROUND: #3D9C7C
SEND BUTTON TEXT COLOR: #0B0B0B
*/


html, body {
    margin: 0;
    padding: 0;
    font-family: 'Press Start 2P', cursive;
}