.pager-title{
    color: #F8F8F8;
    font-size: 2rem;
    margin: 20px 0;
}

.pager-display-container{
    background-color: #9EC4B3;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    width: 95%;
    height: 70px;
    margin: 0 10px;
}

.pager-display-text{
    margin: 0;
    text-align: center;
    font-size: 2rem;
}

.pager-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #283033;
    padding: 0 0 10px;
    margin-bottom: 100px;
}